{% extends 'base.html' %}

{% block content %}
    


    <div class="container text-center"> <h1> Posts</h1></div> 
    {% for p in post_list %}
        
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="{{p.id}}">
                    {% if p.photo %}
                    <img src="{{p.photo.url}}" alt="">
                    {% endif %}
                    <p class="font-weight-bold">{{p.title}}</p>
                </a> 
                <i class="author text-right" style="font-size: small;">by {{p.author}} on {{p.created_time}}</i>
     


            </div> 
        
        </div>
        
    {% endfor %}



{% endblock %}