{% extends 'base.html' %}




  {% block content %}
  <head>
    <title>
      {% if post.title %}
            {{post.title}}
      {% endif %}
    </title>
  </head>

  <div class="container">
    <div class="row" style="padding-top: 5%;">
        <div class="col-sm-10"><h1 class="text-center">{{post.title}}</h1></div>
        <i>Published on {{post.created_time}}</i>
        
    </div>
    {% if post.photo %}
        <img src="{{post.photo.url}}" class="center" width="800" height="465" alt="">
    {% endif %}
    <blockquote>
      {{post.text}}
    </blockquote>
    
    <a href="{% url 'like' post.id %}">like</a><a href="{% url 'dislike' post.id %}">dislike</a>


    <div class="container">
        <form method="post" action="{% url 'comment' post.id %}">
            {% csrf_token %}
            {{comment_form}}
            <input type="submit" value="comment">
        </form>



        {% for c in comment_list %}
        
 

          <div class="jumbotron">
            {% if c.author.photo %}
            
              <img src="{{c.author.photo.url}}" class="img-circle" style="float: left;" alt="" width="25" height="25">  <p style="font-size: small;"> &nbsp;&nbsp;{{c.author}} <i style="margin-right: 10%;"> {{c.created_time}}</i></p>
            
            {% else %}

            <img src="/media/images/default.jpg" class="img-circle" style="float: left;" alt="" width="25" height="25">  <p style="font-size: small;"> &nbsp;&nbsp;{{c.author}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{c.created_time}}</p>

            {% endif %}
            
            <h3>{{c.text}}</h3>
            
            
            
          </div>
    
        {% endfor %} 
    </div>
    
    
  
    
    
    
  </div>
  

  {% endblock %}