{% extends 'base.html' %}




  {% block content %}

  <div class="container">
    <div class="row" style="padding-top: 5%;">
        <div class="col-sm-10"><h1 class="text-center">{{post.title}}</h1></div>
        <i>Posted on {{post.created_time}}</i>
        
    </div>
    {% if post.photo %}
        <img src="{{post.photo.url}}" class="center" width="800" height="465" alt="">
    {% endif %}
    <blockquote>
      {{post.text}}
    </blockquote>


    
    
  
    
    
    
  </div>
  

  {% endblock %}